.container {
  background-image: linear-gradient(#a0d9dd, #acc2ff);
  height: 100vh;
  justify-content: center;
}

.loginCard {
  margin: auto;
  background-color: white;
  border-radius: 15px;
  max-width: 500px;
  height: 74%;
}

.Google-logo {
  float: left;
  width: 3vh;
}

.Card {
  padding-top: 60px;
  height: 100%;
}
