.nextButton {
  position: absolute;
  right: 10vh;
  bottom: 50vh;
}

.buttonContainer {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 80vh;
}

.selectButton {
  color: rgb(107, 107, 107);
  font-weight: 600;
  height: 80px;
  width: 180px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: aliceblue;
  opacity: 80%;
  font-size: 25px;
  outline-style: none;
  font-family: "Courier New", Courier, monospace;
}

.selectButton:hover {
  opacity: 100%;
}

h1 {
  color: white;
}

.text {
  padding-top: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  width: 100vh;
}

.formContainer {
  padding-top: 140px;
}

.formControl {
  color: rgb(107, 107, 107);
  font-weight: 600;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: rgb(199, 211, 221);
  font-family: "Courier New", Courier, monospace;
}

.formControl:hover {
  opacity: 90%;
}

.buttonSecondary {
  margin-top: 50px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.options {
  color: rgb(107, 107, 107);
  font-weight: 600;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: aliceblue;
  opacity: 80%;
  font-size: 15px;
  outline-style: none;
  font-family: "Courier New", Courier, monospace;
}

.options:focus {
  color: rgb(59, 59, 59);
  background-color: rgb(216, 223, 230);
  opacity: 60%;
}
